{% extends 'core/base.html' %}

{% block content %}
    <section class="main">
        <div>
            <h1 class="title">{{ item.title }}</h1>
            <h3>try your web app restaurant, you can reserve a table and menus browsing  !!<br> <br>
                This is a web application designed to help chefs and restaurants to have a nice and easy professional life !! <br><br>
                you can take a source code and edited for add more challenge from <b><a href="https://github.com/Hcode7/Web-app-LittleLemon">HERE</a></b><br><br>
            </h3>
            <a href="https://sopdev.itch.io/mushroom-mission" class="main-btn">Play Now on Itch.io! </a>
        </div>

        <img >
    </section>

{% endblock content %}